{% load static %}
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'burger/images/loading.gif' %}" alt="" /></div>
    </div>

    <div class="wrapper">
    <!-- end loader -->

     <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="{% if 'home' in request.resolver_match.url_name %} active {% endif %}">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="{% if 'about' in request.resolver_match.url_name %} active {% endif %}">
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="{% if 'recipe' in request.resolver_match.url_name %} active {% endif %}">
                        <a href="{% url 'recipe' %}">Recipe</a>
                    </li>
                    <li class="{% if 'blog' in request.resolver_match.url_name %} active {% endif %}">
                        <a href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li class="{% if 'contact' in request.resolver_match.url_name %} active {% endif %}">
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                </ul>

            </nav>
        </div>

    <div id="content">
    <!-- header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="full">
                        <a class="logo" href="{% url 'home' %}"><img src="{% static 'burger/images/logo.png' %}" alt="#" /></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="full">
                        <div class="right_header_info">
                            <ul>
                                <li class="dinone">Contact Us : <img style="margin-right: 15px;margin-left: 15px;" src="{% static 'burger/images/phone_icon.png' %}" alt="#"><a href="#">+998972666255</a></li>
<!--                                <li class="dinone"><img style="margin-right: 15px;" src="{% static 'burger/images/mail_icon.png' %}" alt="#"><a href="">cool.hojimurod2001@mail.ru</a></li>-->
                                <li class="dinone"><img style="margin-right: 15px;height: 21px;position: relative;top: -2px;" src="{% static 'burger/images/location_icon.png' %}" alt="#"><a target="_blank" href="https://goo.gl/maps/PZJse1h3Ln1SYn9QA">19 uy Abdulla Qodriy,Toshkent</a></li>
                                <li class="button_user"><a class="button active" href="{% url 'signin' %}">Sign In</a><a class="button" href="{% url 'signup' %}">Sign up</a></li>
                                <li><img style="margin-right: 15px;" src="{% static 'burger/images/search_icon.png' %}" alt="#"></li>
                                <li>
                                    <button type="button" id="sidebarCollapse">
                                        <img src="{% static 'burger/images/menu_icon.png' %}" alt="#">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>
    </div>
    <div class="overlay"></div>
