{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Our blog</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
          <li class="breadcrumb-item active">Our blog</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Blogs</h3>

                <div class="card-tools">
                    <div class="btn btn-block btn-success"><a style="color:white" href="{% url 'addblog' %}">Add</a></div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Edit</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in blog %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ i.title }}</td>
                      <td>{{ i.created_at }}</td>
                      <td><div class="btn btn-block btn-success" style="background:#e6c60d;"><a style="color:white" href="{% url 'edit_blog' pk=i.id %}">Edit</a></div></td>
                      <td><div class="btn btn-block btn-success" style="background:#b90e0a;"><a style="color:white" href="{% url 'delete_blog' pk=i.id %}">Delete</a></div></td>
                  {% endfor %}
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</section>
{% endblock %}